  <div id="blank" class="active">
    <div class="page-header-wrap">
      <div class="container">
        <span class="brand">Walkable</span>
      </div>
    </div>
    <div class="page-body container">
      Loading...
    </div>
  </div>
  
  <div id="settings">
    <div class="page-header-wrap">
      <div class="container">
        <span class="brand">Walkable</span>
        <div class="nav pull-right">
          <a href="#" class="done btn btn-success btn-small">Done <i class="icon-white icon-ok"></i></a>
        </div>
      </div>
    </div>
    <div class="page-body container">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#set_vendors" data-toggle="tab">Select Brand</a></li>
        <!-- <li><a href="#set_options" data-toggle="tab">Options</a></li> -->
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="set_vendors">
          <ul>
          </ul>
        </div>
       <!--  <div class="tab-pane" id="set_options">
          <ul>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
  <div id="deals">
    <div class="page-header-wrap">
      <div class="container">
        <span id="brand">Walkable</span>
        <ul class="nav pull-right">
          <li><a href="#" id="sync">Update</a></li>
          <li><a href="#" class="settings">Settings</a></li>  
        </ul>
      </div>
    </div>
    <div class="page-body container">
      <ul id="deal_items" class="unstyled"></ul>
    </div>
    <div class="container page-footer">
      <span class="brand groupon">Groupon</span>
      <span class="brand yelp">Yelp</span>
      <span class="brand living_social">Living Social</span>
      <span class="brand gilt_city">Gilt City</span>
    </div>
  </div>
