#main {
  margin-top:40px;
 }
a:hover i {
}

#header .vendor {
  width:150px;
}
#deals {
  border-top:1px solid #eee;
}
#deals li {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
#deals li li {
  border-right:0;
  border-left:0;
  border-bottom:0;
}
#deals .deal-header {
  height:60px;
  padding:6px;
 }
#deals .right {
}
#deals .left {
  margin-right:60px;
  float:;
}
#deals .deal-body {
  display:none;
  padding:6px;
}
#deals .ptr, #deals .ptr:hover {
  cursor: pointer;
}
#deals .deal-vendor {
}

.container {
  width:760px;
}
@media screen and (max-width: 479px) {

  .container {
    width:320px;
  }
}

@media screen and (min-width:480px) and (max-width:759px) {

  .container {
    width:480px;
  }
}
