
#error

  %h2 Oh no, You Broke the Internet!

  %p 
    Actually, you didn't.  But the page you requested
    %strong 
      could not be found. 
  %p Don't worry, the interns will pay for this.

  -# use this: http://googlewebmastercentral.blogspot.com/2008/08/make-your-404-pages-more-useful.html

